/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
.vscode/
.DS_Store
Example/Pods
Example/Frameworks/Rome

Example/Frameworks/dSYM

Example/PodBuilderExample.xcodeproj/xcuserdata/*.xcuserdatad
Example/PodBuilderExample.xcworkspace/xcuserdata
Example/Pods
